.imgThumbnail {
  position: relative;
}

.memesThumbnail {
  position: absolute;
  top: 20%;
  left: 28.9%;
}

.memesThumbnail img {
  max-width: 60px;
  border: #fff solid 1px;
  padding: 0;
}

.memesThumbnail p {
  font-family: Impact, Charcoal, "sans-serif";
  color: #fff;
}

.upperTextThumbnail p {
  margin-left: 15px;
  margin-bottom: 10px;
}
.lowerTextThumbnail p {
  margin-left: 15px;
  margin-top: 10px;
}

.actionButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
