.imgThumbnail {
  position: relative;
}

.memesThumbnail {
  position: absolute;
  top: 22%;
  left: 35.9%;
}

.memesThumbnail img {
  max-width: 60px;
  border: #fff solid 1px;
}

.memesThumbnail p {
  font-family: Impact, Charcoal, "sans-serif";
  color: #fff;
  margin-left: 5px;
}
.upperTextThumbnail p {
  margin-bottom: 5px;
}
.lowerTextThumbnail p {
  margin-top: 5px;
}

.actionButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
