body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #eaeded;
}

i {
  color: white;
}
i:hover {
  color: #eaeded;
}
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list .item {
  width: 30%;
  height: 30%;
}

.btn-circle {
  background-color: greenyellow;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
