body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #eaeded;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list .item {
  width: 30%;
  height: 30%;
}
